<h1>Listing definitions</h1>

<table>
  <tr>
    <th>The definition</th>
  </tr>

<% for definition in @definitions %>
  <tr>
    <td><%=h definition.the_definition %></td>
    <td><%= link_to 'Show', definition %></td>
    <td><%= link_to 'Edit', edit_definition_path(definition) %></td>
    <td><%= link_to 'Destroy', definition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New definition', new_definition_path %>
