
<div id="welcome_mat">
Welcome to Tagalus!  <a href='/about'>Learn what it is</a>.  Also, you can <a href="/about#twitter">use Tagalus with Twitter</a>!  Keep up with the progress with the <a href="http://blog.tagal.us/">Tagalus blog</a>.
<br class="clear_both"/>
</div>

<div id="front_boxes">

	<div id="left_front_box">
		
		<h2>Find a tag:</h2>
		
		<div id="search_box" class="yellow_box">
		<% form_tag '/search', :method => :get do %>
		<!-- ><form id="search_form" name="search_form" method="post" action=""> -->
		<input size="22" style="position: absolute;" id="suggest" name="q" value="#"/>
		<input type="submit" value="Search" id="search_button"/>
		<!--></form> -->
		<% end %>
		</div>
		
		<div id="main_tags_list">
			<% for tag in @tags %>
				<% @definition = Definition.find(:first, :order => "authority DESC, created_at ASC", :conditions => { :tag_id => tag.id }) %>

				<div class="tag">
					<span class="the_tag"><%= link_to (h tag.the_tag), ("/tag/" + tag.the_tag), :rel => 'tag' %></span>
					<span class="definition">
					<% 
						d = ""
						if @definition != nil
							d = @definition.the_definition
						end
					%>
					<%=h d %>
					</span>
				</div>

			<% end %>

			<div class="pagination">
				<%= will_paginate @tags %>
			</div>
			
			<a style="text-decoration: none;" class="feed_link" href="/feed"><img style="vertical-align: middle" src="/images/feed-icon-28x28.png" alt="RSS" title="RSS Feed for tags"/> RSS Feed for tags</a>

		</div>
		
	</div>
	
	
	<div id="right_front_box">
				
		<%= render :partial => 'layouts/partials/add_tag_form' %>
		<br/>
		
		<% if @display_feed %>	
		<div id="blog_feed">
			<h3>From the <a href="http://blog.tagal.us">Tagalus Blog:</a></h3>
			<ul>
			<% for i in @feed_items %>
				<li><a href="<%=i.link%>"><%=i.title%></a></li>
			<% end %>
			</ul>
		</div>
		<% end %>
		
		<span id="tag_counter"><%= @total_tags %> tags and counting!</span>
		
	</div>
	
</div>

<br class="clear_both"/>


<!-- 
<div id="frontpage_info">
<span id="line1">Use <a id="tagalus">@tagalus</a> to</span>
<span id="line2">get definitions for </span>
<span id="and">and</span>
<span id="line3">define</span>
<span id="line4">#tags</span>
</div>
-->

<br />