<div id="content">
	
	<h2>Search results for #<%=@search_term%></h2><br/>
	
	<% if !@tag_exists %>
	<div class="search_section">
	There is no tag for #<%=@search_term%> in our database.  <a href="/tag/<%=@search_term%>">Be the first one to define it</a>.
	</div>
	<% end %>
	
	<div class="search_section">
	
	<h3>Tags that have names related to your search</h3>
	<% if @tags.length != 0 %>
	<% for tag in @tags %>
		<div class="search_result">
			<a rel="tag" href="/tag/<%=tag.the_tag%>"><%=tag.the_tag%></a><br/>
		</div>
	<% end %>
	<% else %>
		Sorry, but we couldn't find any tags that related to your search
	<% end %>
	
	</div>
	
	<div class="search_section">
	
	</div>
	
</div>